# Maven/Java
HELP.md
target/
build/
.mvn/wrapper/maven-wrapper.jar

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Docker
.dockerignore
docker-compose.override.yml

# Logs and Temporary Files
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Dependency Directories
node_modules/
.venv/

